
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>
    <p>Please fill out the form below to send us a message:</p>
    <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" style="font-size: 20px; width: 300px"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" style="font-size: 20px; width: 300px"><br>
        <label for="phone">Phone:</label><br>
        <input type="text" id="phone" name="phone" style="font-size: 20px; width: 300px"><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="7" cols="50" style="font-size: 20px"></textarea><br>
        <input type="submit" value="Send" style="font-size: 20px">
    </form>
</body>
</html>
